Source: fty-cmake-rest
Maintainer: fty-cmake-rest Developers <opensource@eaton.com>
Build-Depends:
    cmake (>=3.13),
    fty-cmake-dev,
    libfty-utils-dev,
    libfty-common-rest-dev,
    libfty-pack-dev,
    libtntnet-dev,
    pkg-config,
    debhelper (>= 9)
Standards-Version: 1.0.0
Section: devel
Priority: extra

Package: libfty-cmake-rest
Architecture: any
Depends:    ${shlibs:Depends},
            ${misc:Depends}
Description: fty-cmake-rest library

Package: libfty-cmake-rest-dev
Architecture: any
Section: devel
Provides: fty-cmake-rest-dev
Depends:
    cmake (>=3.13),
    libfty-cmake-rest,
    fty-cmake-dev,
    libfty-utils-dev,
    libfty-pack-dev,
    libtntnet-dev,
    pkg-config
Description: CMake helper for rest with tntnet
 Note the historic misnomer "fty-cmake-rest-dev" is an alias for this package
